@{
    //ViewData["Title"] = "Home Page";
    Layout = null;
}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Il mio primo blog!</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link href="~/css/site.css" rel="stylesheet" />
    </head>

    <body>
        <nav class="navbar bg-light py-3">
            <div class="container-fluid">
                <h3>La mia Pizzeria 1</h3>
            </div>
        </nav>

        <div class="container">
            <h1 class="my-3 color-red">Lista dei miei Blog</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrizione</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Prezzo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td style="width: 20%">Marinara</td>
                    <td>(pomodoro, origano, aglio ed olio)</td>
                    <td><img src="" class="img-fluid" alt="Pizza Marinara"></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td style="width: 20%">Margherita</td>
                    <td>(pomodoroe mozzarella)</td>
                    <td><img src="https://picsum.photos/id/10/200" class="img-fluid" alt="Pizza Margherita"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td style="width: 20%">Pugliese</td>
                    <td>(pomodoro, mozzarella e cipolla)</td>
                    <td><img src="https://picsum.photos/id/10/200" class="img-fluid" alt="Pizza Pugliese"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td style="width: 20%">Napoli</td>
                    <td>(pomodoro, mozzarella e acciughe)</td>
                    <td><img src="https://picsum.photos/id/10/200" class="img-fluid" alt="Pizza Napoli"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td style="width: 20%">Funghi</td>
                    <td>(pomodoro, mozzarella e acciughe)</td>
                    <td><img src="https://picsum.photos/id/10/200" class="img-fluid" alt="Pizza hai Funghi"></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td style="width: 20%">Prosciutto cotto</td>
                    <td>(pomodoro, mozzarella e prosciutto cotto)</td>
                    <td>
                        <img src="https://picsum.photos/id/10/200" class="img-fluid" alt="Pizza al Prosciutto cotto">
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td style="width: 20%">Carciofi</td>
                    <td>(pomodoro, mozzarella e carciofi)</td>
                    <td>
                        <img src="https://picsum.photos/id/10/200" class="img-fluid" alt="Pizza hai Carciofi">
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td style="width: 20%">Romana</td>
                    <td>(pomodoro, mozzarella, acciughe, capperi, olive e origano)</td>
                    <td>
                        <img src="https://picsum.photos/id/10/200" class="img-fluid" alt="Pizza Romana">
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td style="width: 20%">Zola</td>
                    <td>(pomodoro, mozzarella e zola)</td>
                    <td>
                        <img src="https://picsum.photos/id/10/200" class="img-fluid" alt="Pizza Zola">
                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td style="width: 20%">alla Scamorza</td>
                    <td>(pomodoro e scamorza)</td>
                    <td>
                        <img src="https://picsum.photos/id/10/200" class="img-fluid" alt="Pizza alla Scamorza">
                    </td>
                </tr>
                <tr>
                    <td>10</td>
                    <td style="width: 20%">Prosciutto e funghi</td>
                    <td>(pomodoro, mozzarella, prosciutto cotto e funghi)</td>
                    <td>
                        <img src="https://picsum.photos/id/10/200" class="img-fluid" alt="Pizza Prosciutto e funghi">
                    </td>
                </tr>

            </tbody>
        </table>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>

</html>
